:root {
  --bg-dark: #1a2f3a;
  --logo-height: 100px;
  --header-height: 100px;
  --footer-height: 40px;

  --shadow:
  0 2px  23px  0 rgba(0, 0, 0, 0.1),
  0 2px 49px  0 rgba(0, 0, 0, 0.06)

}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}



.app {
  margin: 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 7vh 83vh 10vh;

  grid-template-areas: "H H"
                        "M M"
                        "F F"
}